
* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

html {
  --size: 4mm;
  --size-half: calc(var(--size) / 2);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.container {
  min-height: 50vh;
  padding: var(--size);
}

.column, .row {
  display: flex;
  list-style: none;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.gap {
  gap: var(--size-half);
}

.padding {
  padding: var(--size-half);
}

#periods-form input {
  flex-grow: 1;
}

button {
  min-width: 22px;
}

ul li {
  display: flex;
  justify-content: space-between;
}

ul li button {
  margin-left: var(--size-half);
}
